[Unit]
Description=Claymore daemon
#After=network.target auditd.service

[Service]
Type=forking
ExecStart=/usr/local/bin/claymore.sh start
ExecStop=/usr/local/bin/claymore.sh stop
ExecReload=/usr/local/bin/claymore.sh reload

[Install]
WantedBy=multi-user.target
